@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&family=Source+Sans+Pro&display=swap");

*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

a[href^="tel:"] {
  color: #222;
  text-decoration: none;
}

a[href^="tel:"]:before {
  margin-right: 0.5em;
}

.attractionImage {
  height: 20rem;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.attractionImage:hover {
  transform: scale(1.05);
}

.border {
  border-top: 0.0625rem solid #ccc;
}

body {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #222;
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-display: swap;
}

.cardGroupStyles > .cardStyles {
  margin-bottom: 0;
}

.category {
  color: #222;
  background: #fff;
  font-size: 1rem;
}

.centeredTextOverImage {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.containerFluid {
  padding-left: 0;
  padding-right: 0;
}

/* Clearfix */
.contactForm:before,
.contactForm:after {
  content: " ";
  display: table;
}

.contactForm:after {
  clear: both;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.headingStyle {
  padding: 0;
  letter-spacing: 0;
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0.75rem;
  font-family: "Old Standard TT", serif;
  font-display: swap;
}

.headingContainer {
  text-align: center;
}

.imageContainer {
  cursor: pointer;
  height: 20rem;
  overflow: hidden;
  width: 100%;
  margin: 0;
}
.imageContainer:hover .imageContentHover {
  display: block;
}

.imageContent {
  display: none;
}

.imageContent {
  display: block;
  padding: 1rem 0;
}

.imageContentHover {
  background: #fff;
  display: none;
  font-weight: 400;
  margin-top: -15rem;
  padding: 1rem;
  position: absolute;
  white-space: normal;
  z-index: 1;
}

.imageHeadingContainer {
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center;
}

/*opacity img*/
.imageOpacityHover {
  position: relative;
}

.imageOpacityHover img {
  width: 100%;
  vertical-align: top;
}

.imageOpacityHover:after {
  background: rgba(49, 49, 49, 0.6);
  content: "\A";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  width: 100%;
}

.imageOpacityHover:hover:after {
  opacity: 1;
}

.inputSubmit {
  background: #035aa6;
  color: #fff;
  cursor: pointer;
}

.inputSubmit:hover {
  box-shadow: (0 0.0625rem 0.0625rem 0.0625rem rgba(#aaa, 0.6));
}

em {
  font-style: italic;
}

input,
textarea {
  background-color: #e9e8e8;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: (0 0.0625rem 0.0625rem (#07031a, 0.1));
  display: block;
  margin-top: 1em;
  outline: 0;
  padding: 1em;
  resize: none;
  width: 100%;
}

input,
textarea:focus {
  box-shadow: (0 0 0.125rem (#035aa6, 1));
}

.left {
  margin-right: 2%;
}

.mapSectionContainer {
  margin-bottom: 1rem;
}

.paragraphStyles {
  font-weight: normal;
  font-size: 1.125rem;
  letter-spacing: 0.06em;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
  text-align: center;
  margin: 1rem;
}

.paragraphContainer {
  padding: 1rem;
}

.paragraphContainerNoImage {
  margin-top: 4.25rem;
}

.paragraphContainerNoImageLocationPage {
  margin-top: 4.25rem;
  margin-bottom: 2.5rem;
}

.PlettBeachHouseH1 {
  padding: 2rem;
  text-align: center;
}

.right {
  width: 50%;
}

.SvgAddress {
  color: #222;
  text-decoration: none;
}

.SvgAddress:hover {
  color: #222;
  text-decoration: none;
}

.SvgAddress:before {
  margin-right: 0.5em;
}

.tableAddressContainer {
  margin-bottom: 0;
}

textarea {
  height: 7.875rem;
}

.title {
  color: #222;
  background: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 64rem) {
  .attractionImage:hover {
    transform: none;
  }

  .imageContainer {
    height: 100%;
  }
  .imageContainer:hover .imageContentHover {
    display: none;
  }
}

/*Booking Form on Homepage */
.bookingFormWrapperHomePage {
  background-color: #333 !important;
  position: absolute;
  top: 443px;
  align-items: center;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .bookingFormWrapperHomePage {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .bookingFormWrapperHomePage {
    top: 508px;
  }
}

@media screen and (min-width: 2560px) {
  .bookingFormWrapperHomePage {
    top: 570px;
  }
}

/*Booking Form on pages with no image*/
.bookingFormWrapperAllPages {
  background-color: #333 !important;
  position: absolute;
  top: 115px;
  align-items: center;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .bookingFormWrapperAllPages {
    display: none;
    visibility: hidden;
  }
}
/*Media Queries*/

@media screen and (min-width: 37.5rem) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 62.5rem) {
  .cell {
    width: calc (100%/3);
  }
}
.cell {
  margin: 1rem;
}

@media screen and (min-width: 37.5rem) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 62.5rem) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

@media (max-width: 30rem) {
  .half {
    float: none;
    margin-bottom: 0;
    width: 100%;
  }
}

@supports (display: grid) {
  .gallery .grid {
    grid-gap: 1rem;
  }
}

@media screen and (min-width: 64rem) {
  .paragraphContainerNoImage {
    /* margin-top: 8.25rem; */
    margin-top: 12rem;
  }

  .paragraphContainerNoImageLocationPage {
    margin-top: 12rem;
  }
}
/*optimize gallery and local attractions page images for mobile*/
@media screen and (max-width: 20rem) {
  .attractionImage {
    height: 5rem;
  }
}

@media screen and (max-width: 23.4375rem) {
  .attractionImage {
    height: 6rem;
  }
}

@media screen and (max-width: 26.5625rem) {
  .attractionImage {
    height: 7rem;
  }
}

@media screen and (max-width: 64rem) {
  .attractionImage {
    height: 10rem;
  }
}
