@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&family=Source+Sans+Pro&display=swap");

*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

.attractionImage {
  height: 20rem;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.attractionImage:hover {
  transform: scale(1.05);
}

.border {
  border-top: 0.0625rem solid #ccc;
}

body {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #222;
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-display: swap;
}

.cardGroupStyles > .cardStyles {
  margin-bottom: 0;
}

.cardTitleStyles {
  font-family: "Old Standard TT", serif;
}

.centeredTextOverImage {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.containerFluid {
  padding-left: 0;
  padding-right: 0;
}

.contactPageBottomBorder {
  border-bottom: 0.0625rem solid #ccc;
}

.entabeneBookingPageLogoStyles {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1;
  text-decoration: none !important;
  font-weight: 900;
  font-family: "Old Standard TT", serif;
}

.inputFormsWrappers {
  margin-top: 25px;
}

.headingStyle {
  padding: 0;
  letter-spacing: 0;
  margin-top: 0;
  font-family: "Old Standard TT", serif;
}

.headingStyleBookingPage {
  color: #000000;
  padding: 0;
  letter-spacing: 0;
  margin-top: 0;
  font-family: "Old Standard TT", serif;
}

.headingStyleBookingPage:focus,
.headingStyleBookingPage:hover,
.headingStyleBookingPage:visited,
.headingStyleBookingPage:link,
.headingStyleBookingPage:active {
  color: #000000;
  text-decoration: none !important;
  text-decoration-line: none;
}
/*opacity img*/
.imageOpacityHover {
  position: relative;
}

.imageOpacityHover img {
  width: 100%;
  vertical-align: top;
}

.imageOpacityHover:after {
  background: rgba(49, 49, 49, 0.6);
  content: "\A";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  width: 100%;
}

.imageOpacityHover:hover:after {
  opacity: 1;
}

.imageHeadingContainer {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

em {
  font-style: italic;
}

.mapSectionContainer {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.paddingBottom {
  margin-bottom: 1rem;
}

.paragraphStyles {
  font-weight: normal;
  font-size: 1.125rem;
  letter-spacing: 0.06em;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.paragraphContainer {
  padding: 1.25rem;
}

.paragraphContainerBookingPage {
  padding: 1.25rem 0 0;
}

.paragraphContainerLifeWellLived {
  padding: 1.25rem;
}

.paragraphContainerNoImage {
  padding: 1.25rem;
  margin-top: 4.25rem;
}

.paragraphContainerGalleryPage {
  margin-top: 9.75rem;
}

@media screen and (min-width: 320px) {
  .paragraphContainerGalleryPage {
    margin-top: 5.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .paragraphContainerGalleryPage {
    margin-top: 11rem;
  }
}

@media screen and (min-width: 1024px) {
  .paragraphContainer {
    margin-top: 2.75rem;
  }
}

.paragraphContainerNoImageLocationPage {
  padding: 1.25rem 0;
  margin-top: 4.25rem;
  margin-bottom: 1rem;
}

.PlettBeachHouseH1 {
  padding: 2rem;
  text-align: center;
}

.SvgAddress {
  color: #222;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SvgAddress:hover {
  color: #222;
  text-decoration: none;
}

.positionMarkerSvgStyle {
  margin-right: 0.5rem;
}

@media screen and (min-width: 320px) {
  .positionMarkerSvgStyle {
    margin-bottom: 28px;
    margin-right: 0;
  }
}

@media screen and (min-width: 425px) {
  .positionMarkerSvgStyle {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 380px) {
  .positionMarkerSvgStyle {
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 390px) {
  .positionMarkerSvgStyle {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.tableAddressContainer {
  margin-bottom: 0;
}

@media screen and (max-width: 64rem) {
  .attractionImage:hover {
    transform: none;
  }
}

/*Booking Form on Homepage */
.bookingFormWrapperHomePage {
  background-color: #333 !important;
  position: absolute;
  top: 470px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .bookingFormWrapperHomePage {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .bookingFormWrapperHomePage {
    top: 534px;
  }
}

@media screen and (min-width: 2560px) {
  .bookingFormWrapperHomePage {
    top: 598px;
  }
}

/*Booking Form on pages with no image*/
.bookingFormWrapperAllPages {
  background-color: #333 !important;
  position: absolute;
  justify-content: center;
  top: 72px;
  align-items: center;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .bookingFormWrapperAllPages {
    display: none;
    visibility: hidden;
  }
}
/*Media Queries*/

@media screen and (min-width: 37.5rem) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 62.5rem) {
  .cell {
    width: calc (100%/3);
  }
}
.cell {
  margin: 1rem;
}

@media screen and (min-width: 37.5rem) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 62.5rem) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

@supports (display: grid) {
  .gallery .grid {
    grid-gap: 1rem;
  }
}

@media screen and (min-width: 64rem) {
  .paragraphContainerNoImage {
    margin-top: 162px;
  }

  .paragraphContainerNoImageLocationPage {
    margin-top: 162px;
  }
}
/*optimize gallery and local attractions page images for mobile*/
@media screen and (min-width: 20rem) {
  .attractionImage {
    height: 8rem;
  }
}

@media screen and (min-width: 23.4375rem) {
  .attractionImage {
    height: 8.5rem;
  }
}

@media screen and (min-width: 26.5625rem) {
  .attractionImage {
    height: 9rem;
  }
}

@media screen and (min-width: 48rem) {
  .attractionImage {
    height: 11rem;
  }
}

@media screen and (min-width: 64rem) {
  .attractionImage {
    height: 12rem;
  }
}

@media screen and (min-width: 90rem) {
  .attractionImage {
    height: 14rem;
  }
}

@media screen and (min-width: 1024px) {
  .entabeneBookingPageLogoStyles {
    font-size: 2rem;
    margin-top: 24px;
  }
}
