.PBHLogo {
  max-height: 100px;
}

.bookingBtn {
  width: 264px;
  letter-spacing: 0.4em;
  margin: 27px 27px 25px 12px;
  text-decoration: none;
  transition: all 0.5s ease;
  padding: 12px 14px 12px 14px;
  height: 50px;
  line-height: 26px;
  background: #196173;
  text-align: center;
  color: #fff;
}

@media (max-width: 1200px) {
  .bookingBtn {
    position: absolute;
    right: 76px;
    top: 29px;
    margin: 6px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .bookingBtn {
    letter-spacing: 0.2em;
    font-size: 12px;
    padding: 4px 14px;
    height: 48px;
    line-height: 40px;
    top: 27px;
    right: 72px;
  }
}

.navMenu {
  margin-right: auto !important;
  align-items: center;
}

.navMenuSVG > svg {
  position: relative;
  opacity: 0;
}

.navMenuSVG:hover > svg {
  opacity: 1;
}
