*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Clearfix */
.contactform:before,
.contactform:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.contactform:after {
  clear: both;
}

.footerContainer {
  border-top: 0.0625rem solid #ccc;
  padding: 1.875rem 0;
}

form {
  margin: 1.25rem auto;
  max-width: 37.5rem;
}

.icon,
.text {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}

.inputSubmit {
  background: #07031a;
  color: #fff;
  cursor: pointer;
}

.inputSubmit:hover {
  box-shadow: (0 0.0625rem 0.0625rem 0.0625rem rgba(#aaa, 0.6));
}

input,
textarea {
  background-color: #e9e8e8;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: (0 0.0625rem 0.0625rem (#07031a, 0.1));
  display: block;
  margin-top: 1em;
  padding: 1em;
  resize: none;
  outline: 0;
  width: 100%;
}
input,
textarea:focus {
  box-shadow: (0 0 0.125rem (#035aa6, 1));
}

li {
  display: inline-block;
  margin: 1rem;
}

li svg {
  display: block;
  margin: auto;
}

textarea {
  height: 7.875rem;
}

ul {
  margin: 0;
  padding: 0;
}
