.carousalImage {
  height: 32rem;
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 20rem) {
  .carousalImage {
    height: 15rem;
  }
}

@media screen and (min-width: 23.4375rem) {
  .carousalImage {
    height: 16rem;
  }
}

@media screen and (min-width: 26.5625rem) {
  .carousalImage {
    height: 17rem;
  }
}

@media screen and (min-width: 48rem) {
  .carousalImage {
    height: 28rem;
  }
}

@media screen and (min-width: 64rem) {
  .carousalImage {
    height: 32rem;
  }
}

@media screen and (min-width: 90rem) {
  .carousalImage {
    height: 36rem;
  }
}

@media screen and (min-width: 160rem) {
  .carousalImage {
    height: 40rem;
  }
}
