.carousalImage {
  height: 37.5rem;
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .carousalImage {
    height: 15rem;
  }
}

@media screen and (min-width: 375px) {
  .carousalImage {
    height: 17rem;
  }
}

@media screen and (min-width: 425px) {
  .carousalImage {
    height: 19rem;
  }
}

@media screen and (min-width: 768px) {
  .carousalImage {
    height: 28rem;
  }
}

@media screen and (min-width: 1024px) {
  .carousalImage {
    height: 37.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .carousalImage {
    height: 40rem;
  }
}

@media screen and (min-width: 2560px) {
  .carousalImage {
    height: 42rem;
  }
}
