.footerContainer {
  border-top: 0.0625rem solid #ccc;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.footerContainerSocialMedia {
  border-top: 0.0625rem solid #ccc;
  padding: 1rem 0;
}

.headingStyle {
  color: #222831;
  font-size: 2rem;
}

.li {
  display: inline-block;
  margin: 1rem;
}

.li svg {
  display: block;
  margin: auto;
}

.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.svg {
  margin-right: 0.25rem;
}

.watermarkStyle {
  font-size: 0.8125rem;
  letter-spacing: 0.06em;
  line-height: 1.6;
}

.footerLinks {
  font-size: 0.675rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #ccc;
  padding: 0.3125rem 0.625rem;
}

.footer {
  margin-top: 3.25rem;
  padding-right: 0;
  padding-left: 0;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}
