@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);

.navbarBrand {
  color: #222831;
  font-weight: 900;
  font-family: "Old Standard TT", serif;
  margin-top: 12px;
}

.navbarBrand:hover {
  color: #222831;
  text-decoration: none !important;
  text-decoration-line: none;
}
.navMenuSVG > svg {
  display: block;
  margin: auto;
  position: relative;
  opacity: 0;
}

.navMenuSVG:hover > svg {
  opacity: 1;
  transition: 1s;
}

.navLink {
  color: rgba(0, 0, 0, 0.5);
  margin-top: -6px;
  display: block;
  padding: 0.5rem 1rem;
}

.navLink:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.navLinkDropdownItem {
  margin-top: -7px;
}
.navLinkDropdownItem:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .navLink {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.navbar-nav .navLink {
  padding-right: 0;
  padding-left: 0;
}
@media screen and (max-width: 320px) {
  .menuCenterMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 990px) {
  .svgGiftMobileViewWrapper {
    margin-right: 1.25rem;
    height: 24px;
    width: 24px;
    color: #222;
  }

  .svgPhoneMobileViewWrapper {
    height: 24px;
    width: 24px;
    color: #222;
  }
}

@media screen and (min-width: 991px) {
  .svgPhoneMobileViewWrapper {
    display: none;
    visibility: hidden;
  }
  .svgGiftMobileViewWrapper {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 992px) {
  .navStyles {
    box-sizing: border-box;
    flex-direction: row;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #222;
  }
}
